/* Document styles */

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

h1, h2, h3, .card-title {
    font-family: 'Source Serif 4', sans-serif;
}

h1 {
    font-size: 4em;
    color: white;
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: x-large;
}

p, .card-text {
    font-family: 'Source Sans Pro', sans-serif;
}

.btn-primary {
    font-family: 'Source Sans Pro', sans-serif!important;
    background-color: #163c31;
    border-color: #163c31;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.open {
    background-color: white;
    border-color: #163c31;
    color: #163c31;
}

.btn-secondary {
    font-family: 'Source Sans Pro', sans-serif!important;
    background-color: #163c31;
    border-color: #163c31;
    padding: 0.275rem 0.5rem;
    margin-left: 1rem;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .btn-secondary.open {
    background-color: white;
    border-color: #163c31;
    color: #163c31;
}

.mobile-image {
    display: none;
}

@media only screen and (max-width: 600px) {
    .mobile { 
        display: none;
    }

    .mobile-image {
        display: block;
    }
  }

/* Scroll-over */

.under {
    position: sticky;
    top: 0;
}

.wrapper {
    height: 200vh;
}

.over {
    margin-top: -100vh;
    position: relative;
}

/* Navbar */

.navbar {
    background-color: white!important;
    padding-top: 0.2rem!important;
    padding-bottom: 0.2rem!important;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
  }
  
  .custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203)!important;
  } 

.nav-link {
    color: black;
    font-family: 'Source Sans Pro', sans-serif!important;
}

.nav-link:hover, .nav-link:focus, .nav-link:active, .nav-link.active, .nav-link.open {
    color: #163c31;
}

.navbar-toggler {
    color: #163c31;
}

#navbar-arrow {
    height: 2vh;
    padding-left: 1vw;
}

#navbar-tagline {
    font-size: medium;
    text-align: right!important;
    color: #194c3e;
}

.button-div {
    display: flex;
    align-items: center;
}
/* Landing Header */

.landing-header {
    height: 80vh;
    width: 100%;
    position: relative;
}

#background-video {
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    z-index: -1;
  }

@media only screen and (max-width: 600px) {
    .landing-header {
        height: 50vh;
    }
    #background-video {
        height: 50vh;
    }
}

#header-headline {
    font-size: 3vw;
    bottom: 6vw;
    left: 5vw;
}

#header-subhead {
    font-size: 1vw;
    bottom: 2vw;
    left: 5vw;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

/* Header-Box */

#header-box {
    height: 8vh;
    background-color: white;
}

@media only screen and (min-width: 901px) {
    span { 
        font-size: 1.5vw;
        font-family: 'Source Sans Pro', sans-serif;
        color: #163c31;
    }
    
    span b { 
        font-size: 2.5vw; 
        font-weight: normal;
        font-family: 'Source Serif 4', sans-serif;
        padding-left: 1%;
        padding-right: 2%;
    }
  }
  
  @media only screen and (min-width: 601px) and (max-width: 900px) {
    span { 
        font-size: 3.5vw;
        font-family: 'Source Sans Pro', sans-serif;
        color: #163c31;
    }
    
    span b { 
        font-size: 4vw; 
        font-weight: normal;
        font-family: 'Source Serif 4', sans-serif;
        padding-left: 1%;
        padding-right: 2%;
    }
  }

   @media only screen and (min-width: 0px) and (max-width: 600px) {
    span { 
        font-size: 3vw;
        font-family: 'Source Sans Pro', sans-serif;
        color: #163c31;
    }
    
    span b { 
        font-size: 5vw; 
        font-weight: normal;
        font-family: 'Source Serif 4', sans-serif;
        padding-left: 1%;
        padding-right: 2%;
    }
  }

/* Bio */

.bio {
    background-color: white;
}

.line {
    background-color: #163c31;
    height: 1px;
}

/* Approach */

#approach {
    height: 50vh;
    background-image: url(../assets/img/brickwall.jpg);
    background-size: cover;
}

@media only screen and (max-width: 600px) {
    #approach {
        height: 80vh;
    }
  }

/* Focus */

#focus {
    background-color: white;
}

.bulletpoint {
    height: 2vh;
    display: inline;
}

.focus-text {
    display: inline;
    padding-left: 1vw;
}

/* Boxes */

.card {
    margin-left: 1%;
    margin-right: 1%;
}

.mini-card {
    margin-top: 2%!important;
}

#vpt {
    width: 50%;
}

.gray-card {
    background-color: #E7ECEF;
    border-color: #E7ECEF;
}

.gold-card {
    background-color: #BA8512;
    border-color: #BA8512;
    color: white;
}

.green-card {
    background-color: #163c31;
    border-color: #163c31;
    color: white;
}

@media only screen and (max-width: 600px) {
    #contact-box {
        height: 55vh;
    }
  }

#book-box {
    background-color: #175676;
    height: 20vh;
    border-radius: 1em;
}

#faq-box {
    background-color: #163c31;
    height: 20vh;
    border-radius: 1em;
}

.form-label {
    font-family: 'Source Sans Pro', sans-serif!important;
}

#exampleFormControlInput1, #exampleFormControlTextarea1, #firstname, #lastname {
    font-family: 'Source Sans Pro', sans-serif!important;
}

.contact-h2 {
    color: black;
}

.button-h2 {
    color: white;
    padding-top: 2vh;
    padding-left: 2vw;
}

.button-h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
    color: white;
    padding-left: 2vw;
}

.button-arrow {
    height: 5vh;
    padding-left: 2vw;
}

/* Footer */

#footer-copy {
    text-align: center;
}

/* Header scroll down button */

@keyframes bounce {
    0%, 5%, 12.5%, 20%, 25% {transform: translateY(0);} 
    10% {transform: translateY(-30px);} 
    15% {transform: translateY(-15px);} 
 } 

#btn1 {
    position: absolute;
    left: 98%;
    bottom: 1em;
    margin-left: -2em;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    animation-name: bounce;
    animation-iteration-count: infinite;
    cursor: pointer;
}

/* Spacers */

.spacer {
    height: 100px;
    background-color: white;
}

.green-spacer {
    height: 5px;
    background-color: #163c31;
}

/* Gray background component */

.gray-bg {
    background-color: lightgrey;
}

.accordion-button {
    background-color: #E7ECEF!important;
    color: #163c31;
}

.accordion-button:not(.collapsed) {
    color: #163c31!important;
  }

.accordion-button:hover, .accordion-button:focus, .accordion-button:active, .accordion-button.active, .accordion-button.open {
    background-color: #163c31!important;
    color: white!important;
}

.accordion-body {
    font-family: 'Source Sans Pro', sans-serif!important;
}

#faq-headline {
    margin-bottom: 5vh;
}